<p id="notice"><%= notice %></p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>

<br/><br/>

<strong>Category: </strong> <%= @event.category %><br/><br/>
<strong>Name: </strong> <%= @event.name %><br/><br/>
<strong>Date & Time: </strong> <%= @event.date_and_time %><br/><br/>
<strong>Description: </strong> <%= @event.description %><br/><br/>




