<div class="row-fluid span10">
  <h2>Upcoming Clinic Events</h2>
</div>

<div class="row-fluid span10">
    <table class="table table-striped">
    <% @events.each do |e| %>
          <tr>
          <span class="span2">
           <td><%= e.name %></td>
          </span>
          <span class="span2">
            <td><%= e.date_and_time.strftime("%Y-%m-%d %H:%M") %></td>
          </span>
          <span class="span6">
            <td><%= e.description.html_safe %></td>
          </span>
          </tr>
    <% end %>
    </table>
</div>

<br/><br/>

<div class="row-fluid span3">
  <h2>Forms to Download:</h2>
  <ul>
    <% @docs.each do |d| %>
        <li>
            <a href="<%= "/doc/#{d.fname}" %>"><%= d.caption %></a>
        </li>
    <% end %>
  </ul>

</div>
<br/>

<div class="row-fluid span10">
  <h2>Meet Our Clinicians</h2>
    Brad & Cindy
</div>
