<center>
<h1>Great Links and Resources</h1><p></p>
<p><%= link_to "USEA (United States Eventing Association)", "http://www.useventing.com/" %></p>


<p><%= link_to "US Event Horse: Eventing News .com", "http://www.useventhorse.com/" %></p>


<p><%= link_to "Equestrian Aid Foundation", "http://equestrianaidfoundation.org/" %></p>


<p><%= link_to "Dressage Daily", "http://www.dressagedaily.com/" %></p>


<p><%= link_to "USEF (United States Equestrian Federation)", "http://www.usef.org/" %></p>


<p><%= link_to "State Line Tack", "http://www.statelinetack.com/" %></p>


<p><%= link_to "Dover Saddlery", "http://www.doversaddlery.com/" %></p>


<p><%= link_to "USDF (United States Dressage Federation)", "http://www.usdf.org/" %></p>


<p><%= link_to "Silverwood Farm", "http://www.silverwoodfarm.net/" %></p>


<p><%= link_to "IDCTA", "http://idcta.org/" %></p>


	
<p><%= link_to "FIRE AND EARTH PHOTOGRAPHY", "http://www.fireandearthphoto.com/" %></p>
	
</center>
<br/>