<h1>Riders List For: <%= @event.name %></h1>  <br/>
<% if !current_user.nil? && (current_user.has_role :admin) %>
    <%= link_to "Add Rider", new_rider_path(:event_id=>@event.id), :class=>"btn btn-small btn-success" %>
<% end %>
<hr/>

<table class="table table-striped">
  <tr>
    <th>Rider</th>
    <th>Horse</th>
    <th>Dressage Time</th>
    <th>X-Country Time</th>
    <th>Status</th>
    <% if !current_user.nil? && (current_user.has_role :admin) %>
        <th>Manage</th>
    <% end %>
  </tr>

  <% @riders.each do |r| %>
    <tr>
      <td><%= r.name %></td>
      <td><%= r.horse %></td>
      <td><%= r.dressage %></td>
      <td><%= r.xcountry %></td>
      <td><%= r.status %></td>
      <% if !current_user.nil? && (current_user.has_role :admin) %>
          <td>
            <%= link_to "<i class='icon-wrench icon-white'></i>".html_safe, edit_rider_url(r.id) %> &nbsp;&nbsp;
            <%= link_to  "<i class='icon-trash icon-white'></i>".html_safe, rider_url(r.id),
                         :confirm=>"are you sure?", :method=>:delete %>
          </td>
      <% end %>
    </tr>
  <% end %>
</table>

<% if !current_user.nil? && (current_user.has_role :admin) %>

<h2>Import Riders To This Event</h2>
   <div class="well">
    Import file must have the correct format: <br/>
    First line is a header line with the column names.<br/>
    All columns must be present: name, horse, status, dressage, xcountry<br/><br/>
   </div>

    <%= form_tag import_riders_path, multipart: true do  %>
    <%= hidden_field_tag "event_id", @event.id %>
    <%= file_field_tag  :file %><br/><br/>
    <%= submit_tag :submit %>
<% end %>

<% end %>