<div class="row-fluid">
  <div class="span4">
    <%= simple_form_for(@gallery) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.select :category, options_for_select(["facility", "x_country"], @gallery.category ) %>

          <%= f.input :caption %>
          <%= f.file_field :image %>
        </div>
        <div class="form-actions">
          <%= f.button :submit %>
        </div>
    <% end %>
  </div>
  <div class="span6">

    <% unless @gallery.image.blank? %>
        <%= image_tag @gallery.image.url(:full) %>
    <% end %>

  </div>
</div>

