<% content_for :head do %>
    <link rel="stylesheet" href="css/bootstrap-image-gallery.min.css">

    <script src="http://blueimp.github.com/JavaScript-Load-Image/load-image.min.js"></script>
    <script src="js/bootstrap-image-gallery.min.js"></script>
<% end %>
<div class="row-fluid span10">
  <%= @page_header.html_safe %>  <br/><br/>

  <% if (!current_user.nil? && current_user.has_role?(:admin)) %>
    <%= link_to "Upload New Image", new_gallery_path(:page=>params[:page]), :class=>"btn btn-info" %>
  <% end %>

</div>
<div class="row-fluid span 10">
  <div id="modal-gallery" class="modal modal-gallery hide fade" tabindex="-1">
    <div class="modal-header">
      <a class="close" data-dismiss="modal">&times;</a>

      <h3 class="modal-title"></h3>
    </div>
    <div class="modal-body">
      <div class="modal-image"></div>
    </div>
    <div class="modal-footer">
      <a class="btn btn-success modal-play modal-slideshow" data-slideshow="5000"><i class="icon-play icon-white"></i>
        Slideshow</a>
      <a class="btn btn-info modal-prev"><i class="icon-arrow-left icon-white"></i> Previous</a>
      <a class="btn btn-primary modal-next">Next <i class="icon-arrow-right icon-white"></i></a>

      <a class="btn modal-download" target="_blank"><i class="icon-download"></i> Download</a>
    </div>
  </div>
</div>
<div class="row-fluid">
  <div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery" data-selector="span.gallery-item">
    <% (0...@pics.count).step(5) do |p| %>
        <% pic = @pics[p] %>
        <div class="span2">
        <%= "<span class='gallery-item' data-href='#{pic.image.url(:full)}' title='#{pic.caption}'>".html_safe %>
        <%= "<image src='#{pic.image.url(:full)}' class='gallery-thumbnail'></image>".html_safe %><br/>
        </span>
          <% if !current_user.nil? && current_user.has_role?(:admin) %>
              <%= link_to "Edit", edit_gallery_path(pic) %> &nbsp;&nbsp;&nbsp;
              <%= link_to "Delete", gallery_path(pic), method: :delete,
                                data: { confirm: 'Are you sure?' }%>
          <% end %>
        </div>

        <% (1..4).each do |n| %>
            <% unless @pics[p + n].nil? %>
                <% pic = @pics[p + n] %>
                <div class="span2">
                <%= "<span class='gallery-item' data-href='#{pic.image.url(:full)}' title='#{pic.caption}'>".html_safe %>
                <%= "<image src='#{pic.image.url(:full)}' class='gallery-thumbnail'></image>".html_safe %><br/>
                </span>
                  <% if !current_user.nil? && current_user.has_role?(:admin) %>
                      <%= link_to "Edit", edit_gallery_path(pic) %>&nbsp;&nbsp;&nbsp;
                      <%= link_to "Delete", gallery_path(pic), method: :delete,
                                  data: { confirm: 'Are you sure?' }%>
                  <% end %>
                </div>
            <% end %>
        <% end %>
    <% end %>
  </div>
</div>