<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_gallery_path(@gallery) %> |
<%= link_to 'Back', galleries_path %>

<br/><br/>

<strong>Category: </strong> <%= @gallery.category %><br/><br/>
<strong>File Name: </strong> <%= @gallery.fname %><br/><br/>
<strong>Thumb Nail: </strong> <%= @gallery.thumbnail %><br/><br/>
<strong>Caption: </strong> <%= @gallery.caption %><br/><br/>
<%= image_tag @gallery.image.url(:full) %>