<% if user_signed_in? %>
    <div class="row_fluid">
      <div class="pull-left">
        <div class="span3">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "Contact Manager", contacts_path, :class=>"log_button" %>
        </div>
      </div>
      <div class="pull-right">
        <div class="span2 header_menu_item">

        </div>
        <div class="span2">
          Hello: <%= current_user.name %><br/>
          <%= link_to '&nbsp;&nbsp;&nbsp;Logout&nbsp;&nbsp;&nbsp;'.html_safe, destroy_user_session_path,
                      :method => 'delete', :class=>"log_button" %>
        </div>
        <div class="span1">
          &nbsp;
        </div>
      </div>
    </div>
    <%= render 'layouts/header' %>
<% else %>
    <div class="row_fluid">
      <div class="pull-right">
        <div class="span1">
          <%= link_to 'Login', new_user_session_path, :class=>"log_button" %>
        </div>
        <div class="span1">
          &nbsp;
        </div>
      </div>
    </div>
    <%= render 'layouts/header' %>
<% end %>
